
.fifth-menu .container{
    background-color: white;
    .clients-main-menu{
        display: flex;
        justify-content: space-between;
        background-color: #0B7572;
        background-image: url(img/path2195.png);
        background-repeat: no-repeat; 
        .clients{
            width: min-content;
            margin-left: 92px;
            margin-top: 60px;
            h2{
                color: white;
                width: auto;
                font-size: 48px;
                line-height: 60px;
                font-style: normal;
            } 
        } 
    }
    
}

.clients-menu{
    background-color: white;
    border-radius: 15px;
    margin: 67px 85px ;
    padding: 28px 32px ;
    width: 652px;
    height: 787px;
    display: flex;
    flex-direction: column;
    .cm-logo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        padding-bottom: 32px ;
        border-bottom:1px solid #D7D7DD ;
        p{
            font-size: 11px;
            font-weight: 400;
            width: 274px;
            line-height: 16.5px;
            color: #6B6B6C;
            margin: 0;
        }
    }
}



.cm-menu{
    .cm-enumeration{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #0B7572;
        color: white;
        li{
            display: none;
        }
    }
    .cme-main-menu{
        display: flex;
        flex-direction: column;
        .cme-menu{
            display: flex;
            flex-direction: row ;
            align-items: stretch;
            h4, p, ol{
                margin: 0;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 10px;
            }
            [class*=cmem]{
                padding:24px  16px ;
                
            }
            .cmem-img{
                .img-mobile{
                    display: none;
                }
            }
            .cmem-name{
                width: 100%;
                ol{
                    margin-top: 10px;
                    font-family: 'Exo 2';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 135%;
                }
            }
            .cmem-author{
                width: 100%;
                .stars{
                    margin-top: 10px;
                }
            }
            .cmem-contact{
                width: 100%;
            }
        }
    }
}




@media (max-width:769px) {
    .fifth-menu .container{
        background-color: #0B7572;
        .clients-main-menu{
            display: flex;
            flex-direction: column;
            justify-content: none;
            background-color: #0B7572;
            background-image: url(img/path2195.png);
            background-repeat: no-repeat; 
            
            .clients{
                width: min-content;
                margin-left: 0;
                margin-top: 0;
                h2{
                    color: white;
                    width: auto;
                    font-size: 44px;
                    line-height: 55px;
                    font-style: normal;
                } 
            } 
        }
        
    }
    
    .clients-menu{
        background-color: white;
        border-radius: 15px;
        margin: 64px 0 ;
        padding: 28px 32px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        .cm-logo{
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            padding-bottom: 24px ;
            border-bottom:1px solid #D7D7DD ;
            p{
                font-size: 11px;
                font-weight: 400;
                width: 274px;
                line-height: 16.5px;
                color: #6B6B6C;
                margin: 0;
            }
        }
    }
    
    
    
    .cm-menu{
        .cm-enumeration{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #0B7572;
            color: white;
        }
        .cme-main-menu{
            display: flex;
            flex-direction: column;
            .up-menu{
                padding-top: 8px;
            }
            .cme-menu{
                display: flex;
                flex-direction: row ;
                align-items: stretch;
                h4, p, ol{
                    margin: 0;
                    font-size: 14px;
                    line-height: 19px;
                    margin-bottom: 10px;
                }
                [class*=cmem]{
                    padding: 16px ;
                    
                }
                .cmem-name{
                    width: 100%;
                    ol{
                        margin-top: 10px;
                        font-family: 'Exo 2';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 135%;
                    }
                }
                .cmem-author{
                    width: 100%;
                    .stars{
                        margin-top: 10px;
                    }
                }
                .cmem-contact{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:375px) {
    .fifth-menu .container{
        background-color: #0B7572;
        .clients-main-menu{
            display: flex;
            flex-direction: column;
            justify-content: none;
            background-color: #0B7572;
            background-image: url(img/path2195.png);
            background-repeat: no-repeat; 
            
            .clients{
                width: min-content;
                margin-left: 0;
                margin-top: 0;
                h2{
                    color: white;
                    width: auto;
                    font-size: 44px;
                    line-height: 55px;
                    font-style: normal;
                } 
            } 
        }
        
    }
    
    .clients-menu{
        background-color: white;
        border-radius: 15px;
        margin: 32px 0 ;
        padding: 24px 16px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        .cm-logo{
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            padding-bottom: 24px ;
            border-bottom:1px solid #D7D7DD ;
            p{
                display: none;
                font-size: 11px;
                font-weight: 400;
                width: 274px;
                line-height: 16.5px;
                color: #6B6B6C;
                margin: 0;
            }
        }
    }
    
    
    
    .cm-menu{
        .cm-enumeration{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: #0B7572;
            color: white;
            padding: 0 16px;
            height: 35px;
            ol{
                display: none;
            }
            li{
                display: block;
            }
        }
        .cme-main-menu{
            display: flex;
            flex-direction: column;
            .cme-menu{
                display: none;
                flex-direction: row ;
                align-items: stretch;
                h4, p, ol{
                    margin: 0;
                    font-size: 14px;
                    line-height: 19px;
                    margin-bottom: 10px;
                }
                [class*=cmem]{
                    padding: 16px ;
                    
                }
                .cmem-name{
                    width: 100%;
                    ol{
                        margin-top: 10px;
                        font-family: 'Exo 2';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 135%;
                    }
                }
                .cmem-author{
                    width: 100%;
                    .stars{
                        margin-top: 10px;
                    }
                }
                .cmem-contact{
                    width: 100%;
                }
            }
            .up-menu{
                padding-top: 8px;
                display: flex;
                flex-wrap: wrap;
                .cmem-name{ 
                    width: 159px;
                }
                .cmem-img{
                    img{
                       display: none; 
                    }
                    .img-mobile{
                        display: block;
                    }
                }
            }
        }
    }

}