@import
"_values",
"_fst-menu", "_scn-menu",
"_trd-menu", "_fth-menu",
"_fif-menu", "_six-menu",
"_svn-menu", "_eig-menu",
"_nin-menu", "_ten-menu",
"_ele-menu", "_twl-menu" ;

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    list-style-type: none;
}
.container{
    width: 1440px;
    margin: 0 auto 120px auto;
    padding: 0 100px ;
}

@media (max-width:769px) {
    .container{
        width: 768px;
        margin: 0 auto 120px auto;
        padding: 0 39px ;
    }
}

@media (max-width:375px) {
    .container{
        width: 375px;
        margin: 0 auto 120px auto;
        padding: 0 15px ;
    }
}