ol {
  padding-left: 0;
}

.first-menu .container {
  margin-top: 109px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.imgbc {
  position: absolute;
  width: 832px;
  height: 787px;
  right: 0px;
  top: 0px;
  background-color: #0B7572;
  z-index: -1000;
}

.postavshik {
  width: 575px;
}
.postavshik h2 {
  font-size: 52px;
}
.postavshik p {
  line-height: 24px;
}
.postavshik ol {
  font-weight: 700;
  border-bottom: 3px solid #FFCE50;
  width: 108px;
  margin: 40px 0;
}
.postavshik ol:hover {
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.postavshik-img {
  margin-bottom: 67px;
}
.postavshik-img .track {
  display: block;
}
.postavshik-img .track-tablet {
  display: none;
}
.postavshik-img .track-mobile {
  display: none;
}

.postavshik-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 25px;
  background-color: white;
  padding: 60px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.199);
}
.postavshik-menu .postavshik-menu h4, .postavshik-menu p {
  text-align: left;
}
.postavshik-menu h4 {
  font-size: 20px;
}
.postavshik-menu .pm-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  background-color: rgba(202, 200, 200, 0.678);
  border-radius: 50%;
}
.postavshik-menu .p1-menu, .postavshik-menu .p2-menu, .postavshik-menu .p3-menu {
  width: 228px;
}

@media (max-width: 769px) {
  .first-menu .container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
  }
  .imgbc {
    position: absolute;
    width: 177px;
    height: 743px;
    right: 0px;
    top: 0px;
    background-color: #0B7572;
    z-index: -1000;
  }
  .postavshik {
    width: 523px;
  }
  .postavshik h2 {
    font-size: 44px;
  }
  .postavshik p {
    line-height: 24px;
  }
  .postavshik ol {
    font-weight: 700;
    border-bottom: 3px solid #FFCE50;
    width: 108px;
  }
  .postavshik ol:hover {
    color: rgb(128, 128, 128);
    cursor: pointer;
  }
  .postavshik-img .track {
    display: none;
  }
  .postavshik-img .track-tablet {
    display: block;
  }
  .postavshik-img .track-mobile {
    display: none;
  }
  .postavshik-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    background-color: white;
    padding: 0;
    box-shadow: none;
  }
  .postavshik-menu .text-pmenu {
    text-align: left;
    width: 394px;
  }
  .postavshik-menu h4 {
    font-size: 20px;
  }
  .postavshik-menu .pm-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    background-color: rgba(202, 200, 200, 0.678);
    border-radius: 50%;
    margin: 32px;
  }
  .postavshik-menu .p1-menu, .postavshik-menu .p2-menu, .postavshik-menu .p3-menu {
    width: 100%;
    height: 164px;
    margin-bottom: 60px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.199);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .first-menu .container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
  }
  .imgbc {
    position: absolute;
    width: 100%;
    height: 627px;
    right: 0;
    left: 0;
    top: 0;
    background-color: #0B7572;
    z-index: -1000;
  }
  .postavshik {
    width: 100%;
    color: rgba(247, 247, 247, 0.959);
  }
  .postavshik h2 {
    font-size: 28px;
  }
  .postavshik p {
    line-height: 24px;
  }
  .postavshik ol {
    border-bottom: 3px solid #FFCE50;
    width: 108px;
  }
  .postavshik ol:hover {
    color: rgb(128, 128, 128);
    cursor: pointer;
  }
  .postavshik span {
    display: none;
  }
  .postavshik-img {
    margin-bottom: 41px;
  }
  .postavshik-img .track {
    display: none;
  }
  .postavshik-img .track-tablet {
    display: none;
  }
  .postavshik-img .track-mobile {
    display: block;
  }
  .postavshik-menu {
    width: 100%;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.199);
  }
  .postavshik-menu .text-pmenu {
    width: 100%;
  }
  .postavshik-menu .postavshik-menu h4, .postavshik-menu p {
    text-align: left;
  }
  .postavshik-menu h4 {
    font-size: 20px;
  }
  .postavshik-menu .pm-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    background-color: rgba(202, 200, 200, 0.678);
    border-radius: 50%;
    box-shadow: none;
    margin: 0;
  }
  .postavshik-menu .p1-menu, .postavshik-menu .p2-menu, .postavshik-menu .p3-menu {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.second-menu .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sphere {
  margin-bottom: 40px;
  width: 687px;
}
.sphere h2 {
  font-size: 48px;
  line-height: 60px;
  margin: 32px 0;
}

.pick-sphere {
  display: flex;
  flex-direction: column;
  width: 687px;
}
.pick-sphere .click-sphere {
  display: flex;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 16px;
}
.pick-sphere .click-sphere .sphere-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 75px;
}
.pick-sphere .click-sphere .sphere-btn button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pick-sphere .click-sphere .text-sphere {
  width: 100%;
}
.pick-sphere .click-sphere .text-sphere h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.pick-sphere .click-sphere:hover {
  border: 1px solid #0B7572;
  cursor: pointer;
}
.pick-sphere .click-sphere:hover button {
  cursor: pointer;
}
.pick-sphere .click-sphere:hover button div {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.vote-sphere {
  height: 100%;
  border-bottom: 3px solid #FFCE50;
}
.vote-sphere ol {
  font-weight: bold;
  font-size: 20px;
  margin: 8px 0;
}
.vote-sphere li {
  font-size: 20px;
}
.vote-sphere li span {
  font-size: 54px;
  font-weight: bold;
  line-height: 81px;
}

@media (max-width: 769px) {
  .second-menu .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pick-sphere {
    display: flex;
    flex-direction: column;
    width: 687px;
  }
  .pick-sphere .click-sphere {
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 16px;
  }
  .pick-sphere .click-sphere .sphere-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 75px;
  }
  .pick-sphere .click-sphere .sphere-btn button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pick-sphere .click-sphere .sphere-btn button:hover {
    cursor: pointer;
  }
  .pick-sphere .click-sphere .sphere-btn button:hover div {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
  }
  .pick-sphere .click-sphere .sphere-btn button:hover button:hover ~ .click-sphere {
    background-color: green;
  }
  .pick-sphere .click-sphere .text-sphere {
    width: 100%;
  }
  .pick-sphere .click-sphere .text-sphere h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  .vote-sphere {
    display: none;
  }
}
@media (max-width: 375px) {
  .sphere p {
    display: none;
  }
  .sphere h2 {
    font-size: 28px;
    line-height: 35px;
  }
  .pick-sphere .click-sphere {
    padding: 10px;
    margin-bottom: 10px;
  }
  .pick-sphere .click-sphere .sphere-btn {
    width: 80px;
    height: 85px;
  }
}
.third-menu .container {
  display: flex;
  flex-direction: column;
}

.whyus-logo {
  background-image: url(img/Track-whyus.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 449px;
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.whyus-logo h2 {
  color: white;
  width: auto;
  font-size: 48px;
  line-height: 60px;
  width: 362px;
  margin-left: 101px;
  padding-top: 160px;
}

.whyus-menu {
  display: flex;
  flex-wrap: wrap;
}
.whyus-menu .whyus-undmenu {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  width: 620px;
}
.whyus-menu .whyus-undmenu .whyus-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 20px;
  background-color: rgba(202, 200, 200, 0.678);
  border-radius: 50%;
}
.whyus-menu .whyus-undmenu .wmenu-text {
  width: 300px;
}

@media (max-width: 769px) {
  third-menu .container {
    display: flex;
    flex-direction: column;
  }
  .whyus-logo {
    background-image: url(img/Track-whyus-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 383px;
    width: auto;
    margin-bottom: 50px;
  }
  .whyus-logo h2 {
    color: white;
    width: 362px;
    margin-left: 40px;
    margin-top: 0px;
    padding-top: 130px;
    font-size: 44px;
    line-height: 55px;
  }
  .whyus-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .whyus-menu .whyus-undmenu {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    width: 620px;
  }
  .whyus-menu .whyus-undmenu .whyus-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 20px;
    background-color: rgba(202, 200, 200, 0.678);
    border-radius: 50%;
  }
  .whyus-menu .whyus-undmenu .wmenu-text {
    width: 300px;
    margin-left: 40px;
  }
}
@media (max-width: 375px) {
  .whyus-logo {
    background-image: none;
    background-repeat: none;
    background-position: none;
    height: auto;
    margin-bottom: 50px;
  }
  .whyus-logo h2 {
    color: black;
    width: 200px;
    margin-left: 15px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 28px;
    line-height: 35px;
    text-align: left;
  }
  .whyus-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .whyus-menu .whyus-undmenu {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    width: auto;
  }
  .whyus-menu .whyus-undmenu .whyus-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    margin: 0px;
    margin-top: 25px;
    background-color: rgba(202, 200, 200, 0.678);
    border-radius: 50%;
  }
  .whyus-menu .whyus-undmenu .whyus-img img {
    width: 29px;
    height: 29px;
  }
  .whyus-menu .whyus-undmenu .wmenu-text {
    width: 277px;
    margin-left: 16px;
  }
  .whyus-menu .whyus-undmenu .wmenu-text h2 {
    font-size: 18px;
  }
}
.stages {
  margin-top: 132px;
}
.stages h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.stages ol {
  width: 667px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6c;
  margin-bottom: 56px;
}

.stages_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stages_menu .stages_items {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.stages_menu .stages_items .text_box {
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 32px;
}
.stages_menu .stages_items .text_box h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
}
.stages_menu .stages_items .text_box p {
  width: 291px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6c;
  margin: 16px 0 32px 0;
}
.stages_menu .stages_items .text_box h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  width: 90px;
  border-bottom: 3px solid #ffce50;
  padding-bottom: 10px;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 65px;
}
.dots .dots_item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dots .dots_item div {
  border-radius: 50%;
  border-spacing: 8px;
  width: 18px;
  height: 18px;
  background: #e9e9ec;
}
.dots .dots_item:hover {
  border: 1px solid #0B7572;
}
.dots .dots_item:hover div {
  background-color: #0B7572;
}

@media (max-width: 769px) {
  .stages {
    margin-top: 132px;
  }
  .stages h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
  }
  .stages ol {
    width: 667px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6b6b6c;
    margin-bottom: 56px;
  }
  .stages_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .stages_menu .item3 {
    display: none;
  }
  .stages_menu .stages_items {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 32px;
  }
  .stages_menu .stages_items img {
    width: 100%;
    height: 247px;
  }
  .stages_menu .stages_items .text_box {
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .stages_menu .stages_items .text_box h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
  }
  .stages_menu .stages_items .text_box p {
    width: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6b6b6c;
    margin: 16px 0 32px 0;
  }
  .stages_menu .stages_items .text_box h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21.6px;
    width: 92px;
    border-bottom: 3px solid #ffce50;
    padding-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .stages {
    margin-top: 132px;
  }
  .stages h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
  }
  .stages ol {
    width: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6b6b6c;
    margin-bottom: 56px;
  }
  .stages_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .stages_menu .item2 {
    display: none;
  }
  .stages_menu .item3 {
    display: none;
  }
  .stages_menu .stages_items {
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 32px;
  }
  .stages_menu .stages_items img {
    width: 100%;
    height: 247px;
  }
  .stages_menu .stages_items .text_box {
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 24px;
  }
  .stages_menu .stages_items .text_box h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
  }
  .stages_menu .stages_items .text_box p {
    width: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6b6b6c;
    margin: 16px 0 32px 0;
  }
  .stages_menu .stages_items .text_box h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21.6px;
    width: 92px;
    border-bottom: 3px solid #ffce50;
    padding-bottom: 10px;
  }
}
.fifth-menu .container {
  background-color: white;
}
.fifth-menu .container .clients-main-menu {
  display: flex;
  justify-content: space-between;
  background-color: #0B7572;
  background-image: url(img/path2195.png);
  background-repeat: no-repeat;
}
.fifth-menu .container .clients-main-menu .clients {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 92px;
  margin-top: 60px;
}
.fifth-menu .container .clients-main-menu .clients h2 {
  color: white;
  width: auto;
  font-size: 48px;
  line-height: 60px;
  font-style: normal;
}

.clients-menu {
  background-color: white;
  border-radius: 15px;
  margin: 67px 85px;
  padding: 28px 32px;
  width: 652px;
  height: 787px;
  display: flex;
  flex-direction: column;
}
.clients-menu .cm-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #D7D7DD;
}
.clients-menu .cm-logo p {
  font-size: 11px;
  font-weight: 400;
  width: 274px;
  line-height: 16.5px;
  color: #6B6B6C;
  margin: 0;
}

.cm-menu .cm-enumeration {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0B7572;
  color: white;
}
.cm-menu .cm-enumeration li {
  display: none;
}
.cm-menu .cme-main-menu {
  display: flex;
  flex-direction: column;
}
.cm-menu .cme-main-menu .cme-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.cm-menu .cme-main-menu .cme-menu h4, .cm-menu .cme-main-menu .cme-menu p, .cm-menu .cme-main-menu .cme-menu ol {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}
.cm-menu .cme-main-menu .cme-menu [class*=cmem] {
  padding: 24px 16px;
}
.cm-menu .cme-main-menu .cme-menu .cmem-img .img-mobile {
  display: none;
}
.cm-menu .cme-main-menu .cme-menu .cmem-name {
  width: 100%;
}
.cm-menu .cme-main-menu .cme-menu .cmem-name ol {
  margin-top: 10px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 135%;
}
.cm-menu .cme-main-menu .cme-menu .cmem-author {
  width: 100%;
}
.cm-menu .cme-main-menu .cme-menu .cmem-author .stars {
  margin-top: 10px;
}
.cm-menu .cme-main-menu .cme-menu .cmem-contact {
  width: 100%;
}

@media (max-width: 769px) {
  .fifth-menu .container {
    background-color: #0B7572;
  }
  .fifth-menu .container .clients-main-menu {
    display: flex;
    flex-direction: column;
    justify-content: none;
    background-color: #0B7572;
    background-image: url(img/path2195.png);
    background-repeat: no-repeat;
  }
  .fifth-menu .container .clients-main-menu .clients {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: 0;
    margin-top: 0;
  }
  .fifth-menu .container .clients-main-menu .clients h2 {
    color: white;
    width: auto;
    font-size: 44px;
    line-height: 55px;
    font-style: normal;
  }
  .clients-menu {
    background-color: white;
    border-radius: 15px;
    margin: 64px 0;
    padding: 28px 32px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .clients-menu .cm-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D7D7DD;
  }
  .clients-menu .cm-logo p {
    font-size: 11px;
    font-weight: 400;
    width: 274px;
    line-height: 16.5px;
    color: #6B6B6C;
    margin: 0;
  }
  .cm-menu .cm-enumeration {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0B7572;
    color: white;
  }
  .cm-menu .cme-main-menu {
    display: flex;
    flex-direction: column;
  }
  .cm-menu .cme-main-menu .up-menu {
    padding-top: 8px;
  }
  .cm-menu .cme-main-menu .cme-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .cm-menu .cme-main-menu .cme-menu h4, .cm-menu .cme-main-menu .cme-menu p, .cm-menu .cme-main-menu .cme-menu ol {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .cm-menu .cme-main-menu .cme-menu [class*=cmem] {
    padding: 16px;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-name {
    width: 100%;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-name ol {
    margin-top: 10px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-author {
    width: 100%;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-author .stars {
    margin-top: 10px;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-contact {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .fifth-menu .container {
    background-color: #0B7572;
  }
  .fifth-menu .container .clients-main-menu {
    display: flex;
    flex-direction: column;
    justify-content: none;
    background-color: #0B7572;
    background-image: url(img/path2195.png);
    background-repeat: no-repeat;
  }
  .fifth-menu .container .clients-main-menu .clients {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: 0;
    margin-top: 0;
  }
  .fifth-menu .container .clients-main-menu .clients h2 {
    color: white;
    width: auto;
    font-size: 44px;
    line-height: 55px;
    font-style: normal;
  }
  .clients-menu {
    background-color: white;
    border-radius: 15px;
    margin: 32px 0;
    padding: 24px 16px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .clients-menu .cm-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D7D7DD;
  }
  .clients-menu .cm-logo p {
    display: none;
    font-size: 11px;
    font-weight: 400;
    width: 274px;
    line-height: 16.5px;
    color: #6B6B6C;
    margin: 0;
  }
  .cm-menu .cm-enumeration {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0B7572;
    color: white;
    padding: 0 16px;
    height: 35px;
  }
  .cm-menu .cm-enumeration ol {
    display: none;
  }
  .cm-menu .cm-enumeration li {
    display: block;
  }
  .cm-menu .cme-main-menu {
    display: flex;
    flex-direction: column;
  }
  .cm-menu .cme-main-menu .cme-menu {
    display: none;
    flex-direction: row;
    align-items: stretch;
  }
  .cm-menu .cme-main-menu .cme-menu h4, .cm-menu .cme-main-menu .cme-menu p, .cm-menu .cme-main-menu .cme-menu ol {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
  .cm-menu .cme-main-menu .cme-menu [class*=cmem] {
    padding: 16px;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-name {
    width: 100%;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-name ol {
    margin-top: 10px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-author {
    width: 100%;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-author .stars {
    margin-top: 10px;
  }
  .cm-menu .cme-main-menu .cme-menu .cmem-contact {
    width: 100%;
  }
  .cm-menu .cme-main-menu .up-menu {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .cm-menu .cme-main-menu .up-menu .cmem-name {
    width: 159px;
  }
  .cm-menu .cme-main-menu .up-menu .cmem-img img {
    display: none;
  }
  .cm-menu .cme-main-menu .up-menu .cmem-img .img-mobile {
    display: block;
  }
}
.six-menu .container {
  display: flex;
  flex-direction: column;
}

.phases h2 {
  margin-bottom: 48px;
}

.phase {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0;
  border-radius: 10px;
}
.phase .phase-menu {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  padding: 32px 0;
}
.phase .phase-menu img {
  padding: 0 56px;
}
.phase .phase-menu .text-box {
  width: 689px;
  padding-right: 56px;
}
.phase .phase-menu .text-box h4 {
  width: 256px;
  border-bottom: 3px solid #FFCE50;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
}
.phase .phase-menu .text-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
}
.phase .phase-numb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B7572;
  width: 68px;
  height: 68px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}
.phase .phase-numb .phase-numb-color {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 125%;
}

.seventh-menu h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.seventh-menu .company_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 0 40px;
  text-align: center;
  margin: 100px 0;
}
.seventh-menu .company_container .company_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seventh-menu .company_container .company_items h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
}
.seventh-menu .company_container .company_items img {
  width: 79px;
  height: 79px;
}
.seventh-menu .company_container .company_items p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6b6b6c;
}

.eight-menu h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.eight-menu .cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}
.eight-menu .cards_container .cards {
  width: 605px;
  height: 210px;
  background: linear-gradient(to right, #0b7572 0%, #0b7572 10%, #fff 10%, #fff 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.eight-menu .cards_container .cards img {
  width: 138px;
}
.eight-menu .cards_container .cards .text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  gap: 10px 0;
}
.eight-menu .cards_container .cards .text_box h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.eight-menu .cards_container .cards .text_box p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6b6b6c;
  margin: 0;
}
.eight-menu .cards_container .cards .text_box .line {
  background-color: #ffce50;
  width: 86px;
  height: 3px;
}
.eight-menu .cards_container .cards .text_box .social_media {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.eight-menu .cards_container .cards .text_box .social_media img {
  width: 19px;
}

.ninth-menu h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 90px;
}
.ninth-menu .contact_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ninth-menu .contact_container .contact_info {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.ninth-menu .contact_container .contact_info .contact_items {
  display: flex;
  align-items: center;
  gap: 36px;
}
.ninth-menu .contact_container .contact_info .contact_items img {
  width: 28px;
}
.ninth-menu .contact_container .contact_info .contact_items p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6b6b6c;
}
.ninth-menu .contact_container .contact_info .contact_items h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 12px 0;
}
.ninth-menu .contact_container .proceedings_container {
  width: 800px;
  background: #f9f9fb;
  border-radius: 5px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ninth-menu .contact_container .proceedings_container li {
  width: 674px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e9eaf2;
  padding-bottom: 16px;
}
.ninth-menu .contact_container .proceedings_container li p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #6b6b6c;
}
.ninth-menu .contact_container .proceedings_container li h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  width: 433px;
}

.ten-menu .contacts_us_con {
  background-image: url(img/contactus.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.ten-menu .contacts_us_con .application {
  width: 700px;
  height: 730px;
  background: #0b7572;
  padding: 56px;
}
.ten-menu .contacts_us_con .application h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #ffffff;
}
.ten-menu .contacts_us_con .application .inputs {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.ten-menu .contacts_us_con .application .inputs li {
  width: 579px;
  height: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 50px;
  list-style: none;
  color: #fff;
}
.ten-menu .contacts_us_con .application .inputs .space {
  padding-bottom: 20px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.ten-menu .contacts_us_con .application .inputs .space img {
  width: 28px;
}
.ten-menu .contacts_us_con .application button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0b7572;
  margin-top: 60px;
  padding: 10px 20px;
  border: none;
}
.ten-menu .contacts_us_con .application button:hover {
  cursor: pointer;
  background-color: #0b7572;
  color: white;
}

.eleven-menu h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}
.eleven-menu h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  margin-bottom: 16px;
}
.eleven-menu .data_container {
  background: #f9f9fb;
  border-radius: 5px;
  padding: 56px;
}
.eleven-menu .data_container .image_box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
}
.eleven-menu .data_container .image_box img {
  margin-bottom: 16px;
}
.eleven-menu .data_container .image_box a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #363738;
}
.eleven-menu .data_container p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #363738;
  margin-bottom: 40px;
}
.eleven-menu .data_container .file {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}
.eleven-menu .data_container .file a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #363738;
}
.eleven-menu button {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  background: #0b7572;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #0b7572;
}
.eleven-menu button:hover {
  cursor: pointer;
  background-color: white;
  color: #0b7572;
}

.twelth-menu h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 32px;
}
.twelth-menu p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6c;
  margin-bottom: 40px;
}
.twelth-menu .image {
  width: 1240px;
  height: 621px;
  background-image: url(img/lastone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.twelth-menu .image img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  list-style-type: none;
}

.container {
  width: 1440px;
  margin: 0 auto 120px auto;
  padding: 0 100px;
}

@media (max-width: 769px) {
  .container {
    width: 768px;
    margin: 0 auto 120px auto;
    padding: 0 39px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto 120px auto;
    padding: 0 15px;
  }
}/*# sourceMappingURL=style.css.map */